<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Windows - Desktop</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class = 'desktop-controller'>
        <div class = 'desktop-container'>
            <p class = "op">Nova Pasta</p>
        </div>
    </section>
    <section class = desktop-footer>
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Windows_icon_logo.png" alt="">
        <input type="text" placeholder="Digite aqui para pesquisar">
        <div id = date-container>
            <p id = hours-id></p>
            <p id = date-id></p>
        </div>
    </section>
    <script src="/app/programs.js"></script>
    <script src="/app/config.js"></script>
</body>
</html>